.Upload{
    font-family: 'nunito', sans-serif;
}

.Upload-button{
    background-color: transparent;
    color: rgb(167, 117, 167);
    margin: 0 2rem;
    border: none;
    margin-top: 2rem;
    outline: none;
    cursor: pointer;
    padding: .5rem 1rem;
    border: 1px solid rgb(247, 175, 247);
    border-radius: 5px;
    transition: .4s all ease-in-out;
}

.Upload-button:hover{
    color: rgb(61, 42, 61);
    background: linear-gradient(90deg, rgb(247, 175, 247), white);
}

.Upload > div{
    margin: 0rem 0 11.5rem 0;
}

.Upload > div > h1{
    margin-bottom: 2rem;
}

.Upload > div > Link{
    color: rgb(167, 117, 167);
}